

:root {
    --light-gray: #224437;
    --dark-gray: #224437;
    --dark-gray-titles: #424242;
    --white-and-background: #EFEFEF;
    --black-text: #020202;
    --gray-text: #B1B1B4;
    --dark-gray-background: #7d7d7d;
    --dark-gradient: #224437;
    --light-gradient: #b6efb7;
    --green-whatts: #29A71A;
    --light-green: #e5ffe6;
} 

/* FONTS */

@font-face {
    font-family: 'Heebo-Regular';
    src: url('Fonts/Heebo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Heebo-Bold';
    src: url('Fonts/Heebo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura-Book';
    src: url('Fonts/Futura-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('Fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('Fonts/NeueHelveticaBQBold.otf') format('truetype');
}

@font-face {
    font-family: 'Caudex-Bold';
    src: url('Fonts/Caudex-Bold.ttf') format('truetype');
}

.heebo-bold {
    font-family: 'Heebo-Bold';
}

.helvetica-font {
    font-family: 'Helvetica';
    font-size: 16px;
    font-weight: 100;
}

.helvetica-bold {
    font-family: 'Helvetica-Bold';
    font-size: 30px;
    font-weight: 400;
}

.caudex-bold {
    font-family: 'Caudex-Bold';
    font-weight: 800;
}

/* ANIMATIONS */

/* MAKE ALL .TOPIC ELEMENTS INVISIBLE */
.topic {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

/* MAKE ALL .TOPIC ELEMENTS VISIBLE */
.topic.visible {
    opacity: 1;
    transform: translateY(0);
}


.topic:nth-child(1).visible {
    transition-delay: 0s;
}

.topic:nth-child(2).visible {
    transition-delay: 0.2s;
}

.topic:nth-child(3).visible {
    transition-delay: 0.4s;
}

.topic:nth-child(4).visible {
    transition-delay: 0.6s;
}


.topic {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    font-style: none;
    text-decoration: none;
    color: var(--black-text);
}

a:visited {
    color: var(--black-text);
}


body, h3, h4, h5, span, p {
    font-family: 'Heebo-Regular';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

button {
    border: none;
}

a:hover{
    cursor: pointer;
    color: var(--light-gray);
}

.img-click:hover{
    cursor: pointer;
}

h1 {
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    padding-bottom: 10px;
}

.infos, body, .hability, .topics, main, .faq-topic, .atendimentos {
    display: flex;
    flex-direction: column;
}

.infos h1{
    padding: 0px;
    margin:0px;
    margin-top: 30px;
    margin-bottom: -10px;
}

.sections, .social-medias, .social-media-buttons, .habilities, .atendimento-psicológico, .about-me, .faq-line, .faq, .sessão-de-psicologia {
    display: flex;
    flex-direction: row;
}

.infos > * {
    margin-bottom: 4px;
}

.sections {
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.sections > * {
    margin: 10px 0px; 
}

.social-medias, .img-click {
    margin: auto;
    width: 20px;
    height: 20px;
    gap: 20px;
    padding-top: 10px;
}

.social-medias {
    padding-right: 15px;
}

.icons {
    width: 50px;
    height: 50px;
    margin: auto;
    padding-bottom: 10px;
}

.habilities, .hability {
    margin: auto;

}

.habilities {
    margin: 100px 450px;
    justify-content: center;
    gap: 50px;
}

.hability h3 {
    font-weight: 700;
    padding-bottom: 10px;
    color: var(--dark-gray-titles);
    font-size: 20px;
}

.topics {
    margin: 0px;
    padding: 50px;
    background-color: #29b580;
    width: 100%;
    color: white;
}

.topics h3 {
    font-family: 'Helvetica-Bold';
    font-size: 18px;
    margin: 5px;
}

.topic h3, .questions {
    padding: 5px;
    font-weight: 700;
}

.topic h3{
    font-size: 20px;
}

.topic h5 {
    font-size: 17px;
    padding-top: 40px;
}

.topic {
    max-width: 300px;
    color: var(--dark-gray);
    background: var(--light-green);
    margin: 5px;
    border-radius: 100px;
    padding: 30px;
    height: auto;
    width: auto;
    align-content: center;
}


.atendimentos {
    justify-content: center;
    justify-items: center;
    margin: auto;
}

.atendimentos h2 {
    margin: 50px;
}

.title {
    padding: 20px;
    text-align: center;
}

.atendimento-psicológico {
    gap: 60px;
}

.topic, .atendimento-psicológico {
    margin: 0px;
    width: 100%;
    justify-items: center;
    justify-content: center;
}

.frase-motivacional {
    position: relative; 
    width: 100%;
    justify-content: flex-end;
    text-align: end; 
    margin-top: -10px; 
}

.frase-motivacional img {
    margin: 0px;
    height: 250px;
    object-fit: cover;
    width: 100%;

}

.frase-motivacional span {
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(0,5%); 
    background-color: var(--dark-gray-background); 
    color: var(--white-and-background);
    padding: 10px; 
    max-width: 80%; 
    font-style: normal;
    font-size: 20px;
    z-index: 1; 
    text-align: right;
    justify-content: right;
    margin-right: 300px;
}

.sections, .social-medias, .habilities, .atendimento-psicológico, .about, .sessão-de-psicologia {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infos, .hability, .topics, main, .about-me, .atendimentos {
    align-items: center;
}


.about {
    background-color: #29b580;
    width: 96%;
    gap: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: -10px;
}

.about-me, .about-me h3, .about-me h5 {
    justify-content: flex-start;
    text-align: start; 
}

.about-me {
    background-color: var(--white-and-background);
    justify-content: right;
    width: 95%;
}

.about-me h2 {
    font-size: 40px;
}

.about-me h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
}

.about-me h5, .faq-topic {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-me-text {
    align-items: left;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20%;
}

.gaby {
    width: 500px;
    height: 100%;
    display: flex;
    text-align: right;
    justify-content: right;
    object-fit: cover;
}

.social-media-buttons {
    max-width: 100px;
    margin: auto;
    padding: 20px;
    justify-content: left;
    gap: 10px;
    align-items: left; 
    text-align: left;
}

.faq h2 {
    font-size: 40px;
    text-align: left;
    padding: 50px 10px;
}

.faq-line {
    text-align: center;
}

.faq-topic h3 {
    font-size: 30px;
    color: var(--dark-gradient)
}

.faq-topic h3, .faq-topic h5{
    max-width: 350px;
    text-align: left;
    padding: 10px;
}

#perguntas {
    padding-bottom: 30px;
}

.gaby-faq {
    justify-items: right;
    height: 100%;
    width: 300px;
}

.faq {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}

.sessão-de-psicologia {
    background: linear-gradient(to right, var(--dark-gradient), var(--light-gradient));
    width: 100%;
    padding: 30px;
    margin: auto;
    gap: 80px;
    justify-content: left;
    align-items: center;
    padding-left: 300px;

}

.sessão-de-psicologia button {
    background-color: #29b580;
    color: var(--white-and-background);
    font-size: 20px;
    font-weight: 100;
    height: auto;
    width: auto;
    padding: 15px 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 10px #020202;
    border: none;

}

.sessão-de-psicologia h1 {
    font-size: 40px;
    font-weight: 100;
    padding-right: 100px;
}

.sessão-de-psicologia button:hover{
    cursor: pointer;
    background-color: var(--dark-gray-titles);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(55, 255, 0);
    transition: background-color 0.3s ease;
    transition: border-style 0.3s ease;
}

.google-maps {
    width: 100%;
}

.footer-infos {
    padding: 40px;
}

.footer-infos h2, .footer-infos h3{
    margin: 3px;
}

.footer-social-medias-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.futura-font {
    font-family: 'Futura-Book';
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 17px;
}

#dúvidas {
    font-size: 64px;
}

#perguntas {
    font-size: 18px;
}

#sobre {
    font-size:56px;
}



@media (max-width: 576px) {
    body, main {
        margin: auto;
        padding: 0px;
        text-align: center;
        justify-content: center;
        justify-items: center;
        width: 100%;
        overflow-x: hidden;
    }

    .sections a {
        font-size: 12px;
    }

    h1{
        font-size: 20px;
    }

    .habilities h3 {
        font-size: 14px;
    }

    .habilities h4 {
        font-size: 11px;
    }

    .habilities {
        gap: 25px;
    }

    .topics h2 {
        font-size: 26px;
    }

    .topics h3 {
        font-size: 15px;
    }

    .atendimentos h2 {
        font-size: 20px;
    }

    .topic h3 {
        font-size: 18px;
    }

    .topic h2 {
        font-size: 12px;
    }

    .topic {
        width: 70%;
    }

    .faq-text-section .helvetica-bold {
        font-family: 'Helvetica-Bold';
        font-size: 20px;
        text-align: center;
    }

    #dúvidas {
        font-family: 'Helvetica-Bold';
        font-size: 40px;
        text-align: center;
    }

    .atendimento-psicológico {
        flex-direction: column;
    }

    .frase-motivacional span {
        bottom: 10px; 
        font-size: 12px;
        background-color: var(--gray-text);
        width: 40%;
    }

    .frase-motivacional {
        margin-bottom: -3px;
    }

    .about {
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin-top: -5px;
        /*padding: 10px 0px;*/
        padding-top: 10px;
    }

    .about-me {
        flex-direction: column;
        padding: 0%;

    }



    .about-me-text .social-media-buttons {
        padding-left: 43%;
    }

    .faq {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .faq-topic h5 {
        font-size: 10px;
    }

    .faq-topic {
        width: 100%;
        padding: 10px;
        margin: auto;
        padding-bottom: 30px;
    }

    .faq-topic h3, .faq-topic h5{
        max-width: 350px;
        text-align: center;
        padding: 0px;
    }

    #perguntas {
        font-size: 25px;
    }

    #respostas {
        font-size: 18px;
    }

    .gaby-faq {
        height: 170%;
        width: 100%;
        clip-path: polygon(10% 25%, 100% 25%, 100% 100%, 10% 100%);
        margin-left: -15%;
        margin-top: -280px;
        width: 500px;
    }
/*
    .frase-motivacional img, .gaby, .google-maps, .gaby-faq {
        width: 100%;
    }*/

    .sessão-de-psicologia {
        margin-top: -20px;
        padding: 20px;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .sessão-de-psicologia h1 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .sessão-de-psicologia button {
        font-size: 12px;
        padding: 5px;
        margin-right: 45px;
        margin-top: 10px;
    }

    .footer-infos h3 {
        font-size: 15px;
        width: 500px;
    }

    #sobre {
        font-size: 35px;
    }

    .about-me-text h3 {
        font-size: 25px;
    }

    .faq-line {
        flex-direction: column;
        align-content: center;
    }

    div .faq-text-section {
        text-align: center;

    }

    .sessão-de-psicologia h1 {
        padding-right: 10px;
    }

    .sessão-de-psicologia button {
        width: auto;
    }

    body {
        width: 100%;
    }
}